html {
    scroll-behavior: smooth;
  }

.nav-wrapper{
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 1px 0 0 #eaeaea;
    z-index: 100;
    display: flex;
    align-items: center;
}
.nav-logo{
    border-right: 1px solid #eaeaea;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    min-height: 15vh;
}
.nav-logo img{
    width: 130px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-menu__icon{
    display: none;
}
.nav-menu li{
    margin: 0 10px;
}
.nav-menu li a{
    color: #000;
    text-decoration: none;
    transition: all 1s ease-in;
}
.nav-menu li a:hover{
    color: #233B5B;
    font-weight: 500;
}
.hero-section{
    background-color: #233B5B;
    min-height: 70vh;
    display: flex;
}
.page-wrapper{
    padding-top:5rem;
}
.hero-section{
    color: #E0EBFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-section h1{
    padding-bottom: 1rem;
    font-size: 4rem;
}
.hero-section__lower{
    background-image: linear-gradient(to left, #707ba1, #646f95, #596489, #4d587d, #424d71, #3a4569, #313e60, #293658, #223051, #1a294a, #122343, #0a1d3c);
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: white;
}
.work-area{
    text-align: center;
    background-color: white;
    min-height: 60vh;
    display: flex;
    align-items: center;
}
.work-area h2{
    padding-top: 1.5rem;
}
.work-area__wrapper{
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.user-section{
    background-color: #E0EBFF;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.card button{
    text-decoration: none;
    color: white !important;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
.card .btn-link,.card button:hover,.card button:focus{
    outline: none;
    box-shadow: none;
}
.card-body ul{
    list-style: none;
    padding-left: 1rem;
}
.card-body ul li{
    padding-bottom: 0.25rem;
}
.card-body li a{
    color: #E0EBFF !important;
    text-decoration: underline;
}
footer ul{
    padding-left: 0.1rem;
    list-style: none;
}
footer li a{
    text-decoration: underline;
    color: #233B5B !important;
}
.related-link li{
    padding-bottom: 0.25rem;
}
.social-media{
    display: flex;
}
.social-media a{
    color: #233B5B !important;
}
.footer-area__lower{
    background-color: #233B5B;
    color: white;
    text-align: center;
    padding: 2rem;
}
.user-section{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.footer-area__upper{
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.bg-blueBlack{
    background-color: #233B5B !important;
    color: white;
}
@media screen and (max-width: 426px){
    .nav-wrapper{
        justify-content: flex-start;
    }
    .nav-menu{
        font-size: 10px;
        padding-left: 0px !important;
    }
    body{
        font-size: 12px !important;
    }
    .hero-img{
        display: none;
    }
    .action-items{
        padding-top: 1rem;
    }
}